<% content_for :title, "New Post" %>

<%= turbo_frame_tag "modal" do %>
  <div class="md:w-2/3 w-full bg-white p-6 rounded-xl shadow-lg">
    <h1 class="font-bold text-2xl mb-4">New Post</h1>

    <%= render "form", post: @post %>

    <div class="mt-4 flex justify-between">
      <%= link_to "Back to posts", posts_path,
        class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-200 inline-block font-medium" %>
    </div>
  </div>
<% end %>
